# Created by .ignore support plugin (hsz.mobi)
.idea
documents/gutenPart
documents/gutenPartSmall
documents/txt
documents/txtAll
spimiIndex_posts.txt
spimiIndex_terms.txt
*.pyd
*.c
__pycache__/optimized_build.cpython-36.pyc
build/
optimized/__pycache__/
optimized/spimi/__pycache__/
